#background {
  background: url('dog_bg_1920x1080.jpg') !important;
  background-position: center !important;
  background-size: 850px !important;
  background-repeat: no-repeat !important;
}

#topwhite, .top-bar, .top-bar-section ul li a {
  background-color: white !important;
  color: black !important;
  font-family: "Arial Black" !important;
  /*padding-bottom: 10px !important;*/
}

.top-bar-section ul li a:hover {
  color: white !important;
  background-color: black !important;
}

.middle  {
  /*padding-top: 70px !important;*/
  /*margin-top: 30px !important;*/
}

#formcontainer {
  background-color: rgb(0,175,240) !important;
  padding: 30px 20px 20px 30px !important;
  position: relative !important;
  bottom: -40px !important;
}

form {
  margin-left: 20px !important;
}

.right {
  text-align: right !important;
}

#middle-title {
  margin-top: 10px;
  font-size: 2em !important;
  color: rgb(0,175,240) !important;
}

#middle-content {
  margin-top: 50px;
}

#footer {
  background: url('grass.jpg');
  /*background-color: rgb(155,185,15);*/
  padding-top: 30px;
  padding-bottom: 30px;
}
